In [1]:
import os
import subprocess
import requests

In [2]:
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])

# Load the SQL extension
%load_ext sql

2025-04-05 12:28:33.394 EDT [2222522] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-04-05 12:28:33.394 EDT [2222522] LOG:  listening on IPv6 address "::1", port 5433
2025-04-05 12:28:33.394 EDT [2222522] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-04-05 12:28:33.397 EDT [2222522] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-04-05 12:28:33.511 EDT [2222525] LOG:  database system was shut down at 2025-04-05 03:27:53 EDT
2025-04-05 12:28:33.563 EDT [2222522] LOG:  database system is ready to accept connections

In [3]:
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Connect to db

In [4]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [5]:
%%sql
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_type = 'BASE TABLE' AND table_schema NOT IN ('pg_catalog', 'information_schema');

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[('public', 'malin_gnomad')]

In [6]:
%%sql
--DROP TABLE gwas_AFR;
CREATE TABLE gwas_AFR (
    rsID TEXT,
    pubmedid INT,
    study TEXT,
    disease_trait TEXT,
    p_value TEXT,--non-numeric to avoid precision errors & maintain formatting present in original
    broad_ancestral_category TEXT,
    ld_buddy TEXT,
    r2 TEXT--Needs to be text because some entries are marked as lead SNP & have a text value here instead of numeric
)

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [7]:
%%sql
COPY gwas_AFR
FROM PROGRAM 'zcat /home/mcn26/varef/data/GWAS/GWAS_LD_AFR_done.tsv.gz'
NULL AS ''
HEADER
DELIMITER E'\t';

 * postgresql://mr_root:***@localhost:5433/scratch
1513213 rows affected.

[]

In [8]:
%%sql
--DROP TABLE gwas_ASN;
--DROP TABLE gwas_EUR;
CREATE TABLE gwas_ASN (LIKE gwas_AFR);
CREATE TABLE gwas_EUR (LIKE gwas_AFR);

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
Done.

[]

In [9]:
%%sql
COPY gwas_ASN
FROM PROGRAM 'zcat /home/mcn26/varef/data/GWAS/GWAS_LD_ASN_done.tsv.gz'
NULL AS ''
HEADER
DELIMITER E'\t';

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-05 12:29:01.618 EDT [2222523] LOG:  checkpoints are occurring too frequently (28 seconds apart)
2025-04-05 12:29:01.618 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:29:01.618 EDT [2222523] LOG:  checkpoint starting: wal
2025-04-05 12:29:11.913 EDT [2222523] LOG:  checkpoint complete: wrote 2083 buffers (12.7%); 0 WAL file(s) added, 0 removed, 33 recycled; write=10.017 s, sync=0.011 s, total=10.295 s; sync files=35, longest=0.002 s, average=0.001 s; distance=532362 kB, estimate=532362 kB; lsn=B6/47C71878, redo lsn=B6/2A0A7918
2025-04-05 12:29:12.703 EDT [2222523] LOG:  checkpoints are occurring too frequently (11 seconds apart)
2025-04-05 12:29:12.703 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:29:12.704 EDT [2222523] LOG:  checkpoint starting: wal

5756158 rows affected.

[]

In [10]:
%%sql
COPY gwas_EUR
FROM PROGRAM 'zcat /home/mcn26/varef/data/GWAS/GWAS_LD_EUR_done.tsv.gz'
NULL AS ''
HEADER
DELIMITER E'\t';

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-05 12:29:22.578 EDT [2222523] LOG:  checkpoint complete: wrote 27 buffers (0.2%); 0 WAL file(s) added, 0 removed, 33 recycled; write=9.534 s, sync=0.018 s, total=9.875 s; sync files=5, longest=0.013 s, average=0.004 s; distance=543275 kB, estimate=543275 kB; lsn=B6/69217A20, redo lsn=B6/4B332530
2025-04-05 12:29:23.475 EDT [2222523] LOG:  checkpoints are occurring too frequently (11 seconds apart)
2025-04-05 12:29:23.475 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:29:23.477 EDT [2222523] LOG:  checkpoint starting: wal
2025-04-05 12:29:33.752 EDT [2222523] LOG:  checkpoint complete: wrote 2030 buffers (12.4%); 0 WAL file(s) added, 0 removed, 33 recycled; write=10.060 s, sync=0.005 s, total=10.278 s; sync files=7, longest=0.002 s, average=0.001 s; distance=541615 kB, estimate=543109 kB; lsn=B6/8A20BF38, redo lsn=B6/6C41E448
2025-04-05 12:29:34.465 EDT [2222523] LOG:  checkpoints are occurring too frequently (11 seconds apart)
2025-04-05 12:29:34.465 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:29:34.468 EDT [2222523] LOG:  checkpoint starting: wal
2025-04-05 12:29:47.681 EDT [2222523] LOG:  checkpoint complete: wrote 29 buffers (0.2%); 0 WAL file(s) added, 0 removed, 33 recycled; write=12.552 s, sync=0.390 s, total=13.216 s; sync files=7, longest=0.297 s, average=0.056 s; distance=540616 kB, estimate=542859 kB; lsn=B6/AB866AF0, redo lsn=B6/8D4105C0
2025-04-05 12:29:48.273 EDT [2222523] LOG:  checkpoints are occurring too frequently (14 seconds apart)
2025-04-05 12:29:48.273 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:29:48.279 EDT [2222523] LOG:  checkpoint starting: wal
2025-04-05 12:29:59.131 EDT [2222523] LOG:  checkpoint complete: wrote 26 buffers (0.2%); 0 WAL file(s) added, 0 removed, 33 recycled; write=10.350 s, sync=0.232 s, total=10.858 s; sync files=4, longest=0.229 s, average=0.058 s; distance=537262 kB, estimate=542300 kB; lsn=B6/CBF39408, redo lsn=B6/AE0BC080
2025-04-05 12:30:00.003 EDT [2222523] LOG:  checkpoints are occurring too frequently (12 seconds apart)
2025-04-05 12:30:00.003 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:30:00.005 EDT [2222523] LOG:  checkpoint starting: wal
2025-04-05 12:30:10.185 EDT [2222523] LOG:  checkpoint complete: wrote 26 buffers (0.2%); 0 WAL file(s) added, 0 removed, 33 recycled; write=9.752 s, sync=0.143 s, total=10.183 s; sync files=5, longest=0.080 s, average=0.029 s; distance=544105 kB, estimate=544105 kB; lsn=B6/ED716588, redo lsn=B6/CF416840
2025-04-05 12:30:10.821 EDT [2222523] LOG:  checkpoints are occurring too frequently (10 seconds apart)
2025-04-05 12:30:10.821 EDT [2222523] HINT:  Consider increasing the configuration parameter "max_wal_size".
2025-04-05 12:30:10.824 EDT [2222523] LOG:  checkpoint starting: wal

14127460 rows affected.

[]

Hrm. I think that the column headers are actually a little messed up...

In [11]:
%%sql
SELECT *
FROM gwas_EUR 
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', 'rs1000005', '7E-12', 'rs1000005', 'tag'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', 'rs1000005', '7E-12', 'rs2834083', '0.9'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', 'rs1000005', '7E-12', 'rs28408622', '0.88'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', 'rs1000005', '7E-12', 'rs7275426', '0.91'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', 'rs1000005', '7E-12', 'rs9983755', '0.71')]

In [12]:
%%sql
ALTER TABLE gwas_EUR
    RENAME COLUMN rsid TO tag_snp;
ALTER TABLE gwas_EUR
    DROP COLUMN p_value;
ALTER TABLE gwas_EUR
    RENAME COLUMN broad_ancestral_category TO p_value;

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
Done.
Done.

[]

In [13]:
%%sql
SELECT *
FROM gwas_EUR 
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs1000005', 'tag'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs2834083', '0.9'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs28408622', '0.88'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs7275426', '0.91'),
 ('rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs9983755', '0.71')]

Perfect. Let's check if the others need the same modification:

In [14]:
%%sql
SELECT *
FROM gwas_ASN
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs1000005', 'tag'),
 ('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs2834083', '0.83'),
 ('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs7275426', '0.96'),
 ('rs10000282', 34594039, 'A cross-population atlas of genetic associations for 220 human phenotypes.', 'Hematocrit', 'rs10000282', '3E-8', 'rs10000282', 'tag'),
 ('rs10000282', 34594039, 'A cross-population atlas of genetic associations for 220 human phenotypes.', 'Hematocrit', 'rs10000282', '3E-8', 'rs10006400', '1')]

In [15]:
%%sql
SELECT *
FROM gwas_AFR
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs1000005', 'tag'),
 ('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs7275426', '0.83'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs10000225', 'tag'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs10009710', '0.71'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs12640763', '0.74')]

Yes, both need column-name correction...

In [16]:
%%sql
ALTER TABLE gwas_AFR
    RENAME COLUMN rsid TO tag_snp;
ALTER TABLE gwas_AFR
    DROP COLUMN p_value;
ALTER TABLE gwas_AFR
    RENAME COLUMN broad_ancestral_category TO p_value;

ALTER TABLE gwas_ASN
    RENAME COLUMN rsid TO tag_snp;
ALTER TABLE gwas_ASN
    DROP COLUMN p_value;
ALTER TABLE gwas_ASN
    RENAME COLUMN broad_ancestral_category TO p_value;

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [17]:
#stop the sql db
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down....

2025-04-05 12:30:16.596 EDT [2222522] LOG:  received fast shutdown request
2025-04-05 12:30:16.598 EDT [2222522] LOG:  aborting any active transactions
2025-04-05 12:30:16.598 EDT [2222585] FATAL:  terminating connection due to administrator command
2025-04-05 12:30:16.605 EDT [2222522] LOG:  background worker "logical replication launcher" (PID 2222528) exited with exit code 1
2025-04-05 12:30:16.606 EDT [2222889] FATAL:  terminating autovacuum process due to administrator command
2025-04-05 12:30:16.606 EDT [2222889] CONTEXT:  while scanning block 148437 of relation "public.malin_gnomad"
2025-04-05 12:30:17.153 EDT [2222523] LOG:  checkpoint complete: wrote 23 buffers (0.1%); 0 WAL file(s) added, 0 removed, 33 recycled; write=5.944 s, sync=0.002 s, total=6.332 s; sync files=5, longest=0.002 s, average=0.001 s; distance=540650 kB, estimate=543760 kB; lsn=B7/7CAB70, redo lsn=B6/F0411288
2025-04-05 12:30:17.153 EDT [2222523] LOG:  shutting down
2025-04-05 12:30:17.154 EDT [2222523] LOG:  checkpoint starting: shutdown immediate

 done
server stopped

2025-04-05 12:30:17.501 EDT [2222523] LOG:  checkpoint complete: wrote 2283 buffers (13.9%); 0 WAL file(s) added, 0 removed, 16 recycled; write=0.250 s, sync=0.026 s, total=0.348 s; sync files=11, longest=0.025 s, average=0.003 s; distance=265958 kB, estimate=515980 kB; lsn=B7/7CABE8, redo lsn=B7/7CABE8
2025-04-05 12:30:17.526 EDT [2222522] LOG:  database system is shut down