# Connect to database

In [1]:
import os
import subprocess
import requests
import pandas as pd
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])
# Load the SQL extension
%load_ext sql
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

2025-04-06 17:24:33.058 EDT [4110162] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-04-06 17:24:33.059 EDT [4110162] LOG:  listening on IPv6 address "::1", port 5433
2025-04-06 17:24:33.059 EDT [4110162] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-04-06 17:24:33.063 EDT [4110162] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-04-06 17:24:33.130 EDT [4111262] LOG:  database system was shut down at 2025-04-06 17:00:14 EDT
2025-04-06 17:24:33.172 EDT [4110162] LOG:  database system is ready to accept connections

In [2]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [3]:
%%sql
SELECT *
FROM stacked_table_deduplicated
LIMIT 1;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[('AFR', 'rs10003663', 32778093, 'Genome-wide pQTL analysis of protein expression regulatory networks in the human liver.', 'Protein quantitative trait loci (liver)', '7E-9', 'rs10020727', '1', 'chr4', 146990647, 'rs10020727', 'T', 'C', '.', 'PASS', 'K562__ref=0.1046501;HepG2__ref=0.08851952;SKNSH__ref=0.2252844;K562__alt=0.07711981;HepG2__alt=0.10753845;SKNSH__alt=0.19409476;K562__skew=-0.0275302 ... (584 characters truncated) ... afr=2801;AF_afr=0.0675917;AC_mid=4;AF_mid=0.0126582;AC_asj=0;AF_asj=0;AC_nfe=26;AF_nfe=0.000382207;AC_popmax=2801;AN_popmax=41440;AF_popmax=0.0675917', 0.1046501, 0.08851952, 0.2252844, 0.07711981, 0.10753845, 0.19409476, -0.027530294, 0.019018918, -0.031189611, 2985, 152186, 0.0196142, 7.809, False, False, False, False, False, False, False, False, 0.272, 0.13948467373847961, -0.013233661651611328, 0.0196142, 'COMMON', False, False, False, False, False)]

# Count

I want to count the number of tag SNP and ld buddy snps which are and aren't emvars. The steps are...

for tag snps
1. select all tag snp rows
2. flatten to all uniq tag_snp, any_emvar combos
3. make sure same tag_snp never occurs more than once (as this would indicate a tag snp which is annotated with two different emvar statues, which *should* be impossible)
4. count +/- emvar status

Then repeat those steps for ld buddies (first step replaced with selecting "not tag snp").

## tag

In [7]:
%%sql
--check if any source_table, tag_snp combos have more than one pred (shouldn't be so)
SELECT source_table, tag_snp
FROM stacked_table_deduplicated
WHERE r2 = 'tag'
GROUP BY source_table, tag_snp
HAVING COUNT(DISTINCT any_emvar) > 1;

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-06 17:40:28.303 EDT [4111260] LOG:  checkpoint complete: wrote 89 buffers (0.5%); 0 WAL file(s) added, 4 removed, 6 recycled; write=54.275 s, sync=0.204 s, total=55.064 s; sync files=11, longest=0.193 s, average=0.019 s; distance=161809 kB, estimate=456523 kB; lsn=1E3/95A94368, redo lsn=1E3/94618F50

0 rows affected.

[]

2025-04-06 17:44:33.340 EDT [4111260] LOG:  checkpoint starting: time

In [8]:
%%sql
--create a view as step 2 above
CREATE VIEW tag_emvar_view AS
SELECT DISTINCT source_table, tag_snp, any_emvar
FROM stacked_table_deduplicated
WHERE r2 = 'tag';

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [12]:
tag_result=%sql SELECT source_table, any_emvar, COUNT(tag_snp) \
    FROM tag_emvar_view \
    GROUP BY source_table, any_emvar;

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-06 17:49:33.100 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 17:50:05.063 EDT [4111260] LOG:  checkpoint complete: wrote 2 buffers (0.0%); 0 WAL file(s) added, 4 removed, 5 recycled; write=31.329 s, sync=0.322 s, total=31.964 s; sync files=30, longest=0.189 s, average=0.011 s; distance=148976 kB, estimate=398463 kB; lsn=1E3/A76A2560, redo lsn=1E3/A6D1E490

6 rows affected.

## ld_buddy

In [13]:
%%sql
--check if any source_table, ld_buddy combos have more than one pred (shouldn't be so)
SELECT source_table, ld_buddy
FROM stacked_table_deduplicated
WHERE r2 != 'tag'
GROUP BY source_table, ld_buddy
HAVING COUNT(DISTINCT any_emvar) > 1;

 * postgresql://mr_root:***@localhost:5433/scratch
0 rows affected.

[]

In [14]:
%%sql
--create a view as step 2 above
CREATE VIEW buddy_emvar_view AS
SELECT DISTINCT source_table, ld_buddy, any_emvar
FROM stacked_table_deduplicated
WHERE r2 != 'tag';

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [15]:
buddy_result=%sql SELECT source_table, any_emvar, COUNT(ld_buddy) \
    FROM buddy_emvar_view \
    GROUP BY source_table, any_emvar;

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-06 17:54:33.243 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 17:55:00.768 EDT [4111260] LOG:  checkpoint complete: wrote 3 buffers (0.0%); 0 WAL file(s) added, 4 removed, 2 recycled; write=27.251 s, sync=0.087 s, total=27.525 s; sync files=28, longest=0.015 s, average=0.004 s; distance=98114 kB, estimate=368428 kB; lsn=1E3/AD6779E0, redo lsn=1E3/ACCEED98

6 rows affected.

# fisher's

In [16]:
tag_result

[('AFR', False, 82481),
 ('AFR', True, 1643),
 ('ASN', False, 96545),
 ('ASN', True, 1885),
 ('EUR', False, 229528),
 ('EUR', True, 4203)]

In [17]:
buddy_result

[('AFR', False, 471392),
 ('AFR', True, 6567),
 ('ASN', False, 1129786),
 ('ASN', True, 16328),
 ('EUR', False, 1899533),
 ('EUR', True, 26578)]

2025-04-06 17:59:33.005 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:00:23.821 EDT [4111260] LOG:  checkpoint complete: wrote 247 buffers (1.5%); 0 WAL file(s) added, 3 removed, 6 recycled; write=50.321 s, sync=0.414 s, total=50.816 s; sync files=11, longest=0.183 s, average=0.038 s; distance=146884 kB, estimate=346274 kB; lsn=1E3/B7A169B8, redo lsn=1E3/B5C60110

Let's calculate fisher's in a pop-agnostic way.

In [26]:
fisher_table=pd.DataFrame(tag_result).groupby(["any_emvar"]).sum().drop("source_table",axis=1)
fisher_table.rename({'count':'tag'},axis=1,inplace=True)
fisher_table['buddy']=pd.DataFrame(buddy_result).groupby(["any_emvar"]).sum()['count']
fisher_table

              tag    buddy
any_emvar
False      408554  3500711
True         7731    49473

2025-04-06 18:14:33.530 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:15:31.962 EDT [4111260] LOG:  checkpoint complete: wrote 320 buffers (2.0%); 0 WAL file(s) added, 2 removed, 9 recycled; write=57.605 s, sync=0.759 s, total=58.433 s; sync files=11, longest=0.758 s, average=0.069 s; distance=175974 kB, estimate=300992 kB; lsn=1E3/D8B06848, redo lsn=1E3/D6A27188
2025-04-06 18:19:33.930 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:20:32.197 EDT [4111260] LOG:  checkpoint complete: wrote 321 buffers (2.0%); 0 WAL file(s) added, 2 removed, 9 recycled; write=57.551 s, sync=0.636 s, total=58.268 s; sync files=12, longest=0.541 s, average=0.053 s; distance=175742 kB, estimate=288467 kB; lsn=1E3/E36E7B58, redo lsn=1E3/E15C6B78
2025-04-06 18:24:33.220 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:25:31.474 EDT [4111260] LOG:  checkpoint complete: wrote 319 buffers (1.9%); 0 WAL file(s) added, 1 removed, 9 recycled; write=57.605 s, sync=0.576 s, total=58.254 s; sync files=12, longest=0.451 s, average=0.048 s; distance=173386 kB, estimate=276958 kB; lsn=1E3/EDF6FAF8, redo lsn=1E3/EBF19560
2025-04-06 18:29:33.726 EDT [4111260] LOG:  checkpoint starting: time

Actually, I think this is a bad idea. It artifically deflates (makes more signifcant) the p-value buy multi-counting the same SNPs.

If I were agnostic to population (simply counting ), that would inflate the umber of LD buddies, as those would increase fatser than the tag snps (which are not pop-specific...)
However it should not change

Perhaps the bestway to do this is to just report separate numbers for each population? A single summary statistic giveing the overall picture is desierable, however. For this reason I'll go with 'population agnostic'

# re-calculation

## tag

In [29]:
%%sql
--create a table of unique tag snp, emvar status in a pop agnostic way
CREATE VIEW tag_emvar_pop_agnostic AS
SELECT DISTINCT tag_snp, any_emvar
FROM stacked_table_deduplicated
WHERE r2 = 'tag';

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [32]:
%%sql
--make sure that the same tag snp never has multiple different preds. Two numbers here should be equal.
SELECT COUNT(*) AS all_rows, COUNT(DISTINCT tag_snp) AS uniq_snps
FROM tag_emvar_pop_agnostic;

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-06 18:44:33.319 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:45:01.327 EDT [4111260] LOG:  checkpoint complete: wrote 2 buffers (0.0%); 0 WAL file(s) added, 2 removed, 2 recycled; write=27.802 s, sync=0.015 s, total=28.009 s; sync files=5, longest=0.008 s, average=0.003 s; distance=57297 kB, estimate=225448 kB; lsn=1E4/C7E05C8, redo lsn=1E4/C467488

1 rows affected.

[(250153, 250153)]

In [33]:
tag_result=%sql SELECT any_emvar, COUNT(tag_snp) \
    FROM tag_emvar_pop_agnostic \
    GROUP BY any_emvar;

 * postgresql://mr_root:***@localhost:5433/scratch
2 rows affected.

# buddy

In [34]:
%%sql
--create a table of unique ld buddy, emvar status in a pop agnostic way
CREATE VIEW buddy_emvar_pop_agnostic AS
SELECT DISTINCT ld_buddy, any_emvar
FROM stacked_table_deduplicated
WHERE r2 != 'tag';

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

2025-04-06 18:49:59.802 EDT [4111260] LOG:  checkpoint complete: wrote 9 buffers (0.1%); 0 WAL file(s) added, 3 removed, 0 recycled; write=26.505 s, sync=0.126 s, total=26.665 s; sync files=9, longest=0.086 s, average=0.014 s; distance=49726 kB, estimate=207876 kB; lsn=1E4/FB715C0, redo lsn=1E4/F4F7028

In [35]:
%%sql
--make sure that the same tag snp never has multiple different preds. Two numbers here should be equal.
SELECT COUNT(*) AS all_rows, COUNT(DISTINCT ld_buddy) AS uniq_snps
FROM buddy_emvar_pop_agnostic;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(2316768, 2316768)]

In [36]:
buddy_result=%sql SELECT any_emvar, COUNT(ld_buddy) \
    FROM buddy_emvar_pop_agnostic \
    GROUP BY any_emvar;

 * postgresql://mr_root:***@localhost:5433/scratch
2 rows affected.

2025-04-06 18:54:33.197 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:54:59.711 EDT [4111260] LOG:  checkpoint complete: wrote 6 buffers (0.0%); 0 WAL file(s) added, 1 removed, 1 recycled; write=26.129 s, sync=0.351 s, total=26.514 s; sync files=27, longest=0.260 s, average=0.013 s; distance=41187 kB, estimate=191207 kB; lsn=1E4/123A8240, redo lsn=1E4/11D2FCB0
2025-04-06 18:57:20.742 EDT [50116] LOG:  automatic vacuum of table "scratch.public.stacked_table_deduplicated": index scans: 0
	pages: 0 removed, 21671625 remain, 20645397 scanned (95.26% of total)
	tuples: 1553356 removed, 21049585 remain, 0 are dead but not yet removable
	removable cutoff: 839, which was 4 XIDs old when operation ended
	new relfrozenxid: 826, which is 12 XIDs ahead of previous value
	frozen: 986909 pages from table (4.55% of total) had 1217668 tuples frozen
	index scan not needed: 0 pages from table (0.00% of total) had 0 dead item identifiers removed
	avg read rate: 29.280 MB/s, avg write rate: 25.529 MB/s
	buffer usage: 20656389 hits, 20641213 misses, 17996991 dirtied
	WAL usage: 32396546 records, 14405360 full page images, 2989574652 bytes
	system usage: CPU: user: 35.24 s, system: 136.97 s, elapsed: 5507.53 s
2025-04-06 18:59:33.722 EDT [4111260] LOG:  checkpoint starting: time
2025-04-06 18:59:48.794 EDT [4111260] LOG:  checkpoint complete: wrote 149 buffers (0.9%); 0 WAL file(s) added, 3 removed, 0 recycled; write=15.028 s, sync=0.008 s, total=15.072 s; sync files=16, longest=0.008 s, average=0.001 s; distance=41738 kB, estimate=176260 kB; lsn=1E4/145F28F0, redo lsn=1E4/145F2860

In [49]:
f_table=pd.DataFrame(tag_result).rename({'count':'tag'},axis=1)
f_table['buddy']=pd.DataFrame(buddy_result)['count']
f_table.set_index(f_table['any_emvar'],inplace=True)
f_table.drop('any_emvar',axis=1,inplace=True)
f_table=f_table[['buddy','tag']]
f_table

             buddy     tag
any_emvar
False      2284663  245681
True         32105    4472

In [45]:
#don't need server at this point...
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down.... done
server stopped

2025-04-06 19:11:37.873 EDT [4110162] LOG:  received fast shutdown request
2025-04-06 19:11:37.876 EDT [4110162] LOG:  aborting any active transactions
2025-04-06 19:11:37.876 EDT [4133491] FATAL:  terminating connection due to administrator command
2025-04-06 19:11:37.882 EDT [4110162] LOG:  background worker "logical replication launcher" (PID 4111318) exited with exit code 1
2025-04-06 19:11:37.941 EDT [4111260] LOG:  shutting down
2025-04-06 19:11:37.943 EDT [4111260] LOG:  checkpoint starting: shutdown immediate
2025-04-06 19:11:37.958 EDT [4111260] LOG:  checkpoint complete: wrote 0 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.002 s, sync=0.001 s, total=0.018 s; sync files=0, longest=0.000 s, average=0.000 s; distance=0 kB, estimate=158634 kB; lsn=1E4/145F29A0, redo lsn=1E4/145F29A0
2025-04-06 19:11:37.986 EDT [4110162] LOG:  database system is shut down

In [46]:
from scipy.stats import fisher_exact

In [50]:
odds_ratio, p_value = fisher_exact(f_table)

print("Fisher's Exact Test results:")
print(f"Odds Ratio: {odds_ratio}")
print(f"P-value: {p_value}")

Fisher's Exact Test results:
Odds Ratio: 1.2953278342960413
P-value: 1.0766229792777402e-54