# Connect to database

In [1]:
import os
import subprocess
import requests
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])
# Load the SQL extension
%load_ext sql
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

2025-03-18 14:04:42.901 EDT [854345] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-03-18 14:04:42.902 EDT [854345] LOG:  listening on IPv6 address "::1", port 5433
2025-03-18 14:04:42.902 EDT [854345] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-03-18 14:04:42.904 EDT [854345] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-03-18 14:04:42.996 EDT [854348] LOG:  database system was shut down at 2025-03-18 13:59:11 EDT
2025-03-18 14:04:43.021 EDT [854345] LOG:  database system is ready to accept connections

In [4]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [6]:
%%sql
SELECT *
FROM stacked_table_deduplicated
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('AFR', 'rs1000071', 36224396, 'A saturated map of common genetic variants associated with human height.', 'Height', '3E-65', 'rs1000071', 'tag', 'chr11', 4580072, 'A', 'C', 0.34722823, 0.52801365, 0.25672498, 0.31850737, 0.5216637, 0.18293329, -0.028720846, -0.00634994, -0.073791705, False, False, False, False, False),
 ('AFR', 'rs10008568', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', '3E-6', 'rs6824218', '0.78', 'chr4', 88919919, 'C', 'T', 1.6011418, 1.9607445, 1.7207181, 1.9851327, 2.028107, 1.8544888, 0.38399088, 0.06736256, 0.13377057, False, False, False, False, False),
 ('AFR', 'rs10012528', 34887591, 'The power of genetic diversity in genome-wide association studies of lipids.', 'Triglyceride levels', '3E-20', 'rs7694958', '0.9', 'chr4', 88816306, 'C', 'T', 0.42409435, 0.70956975, 0.44643143, 0.39552832, 0.5761543, 0.391403, -0.028566116, -0.13341549, -0.055028442, False, False, False, False, False),
 ('AFR', 'rs10032561', 36224396, 'A saturated map of common genetic variants associated with human height.', 'Height', '7E-14', 'rs10032561', 'tag', 'chr4', 21055190, 'A', 'G', 0.0588947, -0.06518473, 0.040626314, 0.060012996, -0.061188903, 0.06491408, 0.0011182945, 0.0039958265, 0.024287768, False, False, False, False, False),
 ('AFR', 'rs1003645', 36224396, 'A saturated map of common genetic variants associated with human height.', 'Height', '7E-11', 'rs861273', '0.75', 'chr17', 36019161, 'A', 'G', -0.16499907, 0.737316, -0.14819188, -0.15815982, 0.673815, -0.21579438, 0.0068392134, -0.063501075, -0.067602485, False, False, False, False, False)]

First, we need to check if each tag always has the same set of LD buddies, in each population. This should be the case, but I want to check.

As a quick spot-check: within each pop, each tag should always have the same number of LD buddies. We can state this as : the number of rows per association should be the same for all associations with the same tag SNP. Where each 'association' is a unique combination of `source_table`, `pubmedid`, `tag_snp`. We'll count the number of LD buddies per association first in `rows_per_association`:

In [10]:
%%sql
DROP TABLE buddies_per_association;
CREATE TABLE buddies_per_association AS
SELECT pubmedid, tag_snp, source_table, COUNT(DISTINCT ld_buddy) AS uniq_buddy_count, COUNT(ld_buddy) AS nonuniq_buddy_count 
FROM stacked_table_deduplicated
GROUP BY pubmedid, tag_snp, source_table
ORDER BY tag_snp,pubmedid ASC;

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
569436 rows affected.

[]

2025-03-18 14:09:42.598 EDT [854346] LOG:  checkpoint starting: time

Spot-check:

In [11]:
%%sql
SELECT *
FROM buddies_per_association
LIMIT 20;

 * postgresql://mr_root:***@localhost:5433/scratch
20 rows affected.

[(27863252, 'rs1000005', 'EUR', 4, 8),
 (32451486, 'rs1000005', 'EUR', 4, 4),
 (35935937, 'rs1000005', 'EUR', 4, 4),
 (36477530, 'rs1000005', 'AFR', 2, 2),
 (36477530, 'rs1000005', 'ASN', 3, 3),
 (36477530, 'rs1000005', 'EUR', 4, 4),
 (31015401, 'rs1000010', 'EUR', 2, 2),
 (26634245, 'rs10000225', 'AFR', 12, 12),
 (26634245, 'rs10000225', 'EUR', 36, 36),
 (34648354, 'rs10000273', 'EUR', 1, 1),
 (34594039, 'rs10000282', 'ASN', 24, 48),
 (34594039, 'rs10000282', 'EUR', 19, 38),
 (32157176, 'rs10000284', 'EUR', 166, 166),
 (32555152, 'rs10000284', 'EUR', 166, 166),
 (34594039, 'rs10000284', 'ASN', 66, 66),
 (34594039, 'rs10000284', 'EUR', 166, 166),
 (36210801, 'rs10000289', 'AFR', 4, 4),
 (36168886, 'rs10000290', 'AFR', 1, 1),
 (36168886, 'rs10000290', 'EUR', 8, 8),
 (36635386, 'rs10000291', 'AFR', 15, 15)]

Ok, so at least one has a different number of LD unique buddies and rows... How common is this?

In [12]:
%%sql
SELECT *
FROM buddies_per_association
WHERE uniq_buddy_count <> nonuniq_buddy_count
LIMIT 10;

 * postgresql://mr_root:***@localhost:5433/scratch
10 rows affected.

[(27863252, 'rs1000005', 'EUR', 4, 8),
 (34594039, 'rs10000282', 'ASN', 24, 48),
 (34594039, 'rs10000282', 'EUR', 19, 38),
 (34021172, 'rs1000055', 'EUR', 2, 4),
 (37156999, 'rs1000113', 'ASN', 149, 447),
 (37156999, 'rs1000113', 'EUR', 143, 429),
 (30643251, 'rs10001365', 'EUR', 40, 80),
 (30172743, 'rs10001537', 'EUR', 6, 12),
 (29403010, 'rs10001545', 'ASN', 62, 124),
 (34594039, 'rs10001545', 'ASN', 62, 124)]

2025-03-18 14:13:54.762 EDT [854346] LOG:  checkpoint complete: wrote 2262 buffers (13.8%); 0 WAL file(s) added, 9 removed, 0 recycled; write=251.417 s, sync=0.687 s, total=252.165 s; sync files=50, longest=0.419 s, average=0.014 s; distance=161568 kB, estimate=161568 kB; lsn=11D/76C72F70, redo lsn=11D/72E5C068
2025-03-18 14:14:42.774 EDT [854346] LOG:  checkpoint starting: time
2025-03-18 14:15:43.456 EDT [854346] LOG:  checkpoint complete: wrote 343 buffers (2.1%); 0 WAL file(s) added, 5 removed, 0 recycled; write=59.807 s, sync=0.826 s, total=60.683 s; sync files=15, longest=0.683 s, average=0.056 s; distance=75693 kB, estimate=152980 kB; lsn=11D/7873D820, redo lsn=11D/77847610

Ok, there's more than one... Let's look at an example.

...

In [16]:
%%sql
SELECT * 
FROM stacked_table_deduplicated
WHERE tag_snp = 'rs1000005' AND source_table = 'EUR';

 * postgresql://mr_root:***@localhost:5433/scratch
20 rows affected.

[('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs1000005', 'tag', 'chr21', 33060745, 'G', 'C', 0.4658757, 0.5130802, 0.39136338, 0.4494594, 0.51362103, 0.34879774, -0.016416281, 0.0005408189, -0.042565674, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs2834083', '0.9', 'chr21', 33064667, 'G', 'A', 0.74194014, 1.5964476, 1.2817764, 0.72133976, 1.5328653, 1.2002759, -0.0206004, -0.06358229, -0.08150044, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs28408622', '0.88', 'chr21', 33069369, 'A', 'C', 0.040561862, -0.11550086, -0.115877904, 0.0456007, -0.0995205, -0.08438444, 0.0050388416, 0.01598037, 0.031493478, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil counts', '7E-12', 'rs7275426', '0.91', 'chr21', 33063313, 'C', 'T', 0.56207204, 0.05328056, 0.24424839, 0.5223229, 0.035995368, 0.23120692, -0.039749097, -0.017285194, -0.0130415, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil percentage of white cells', '2E-13', 'rs1000005', 'tag', 'chr21', 33060745, 'G', 'C', 0.4658757, 0.5130802, 0.39136338, 0.4494594, 0.51362103, 0.34879774, -0.016416281, 0.0005408189, -0.042565674, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil percentage of white cells', '2E-13', 'rs2834083', '0.9', 'chr21', 33064667, 'G', 'A', 0.74194014, 1.5964476, 1.2817764, 0.72133976, 1.5328653, 1.2002759, -0.0206004, -0.06358229, -0.08150044, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil percentage of white cells', '2E-13', 'rs28408622', '0.88', 'chr21', 33069369, 'A', 'C', 0.040561862, -0.11550086, -0.115877904, 0.0456007, -0.0995205, -0.08438444, 0.0050388416, 0.01598037, 0.031493478, False, False, False, False, False),
 ('EUR', 'rs1000005', 27863252, 'The Allelic Landscape of Human Blood Cell Trait Variation and Links to Common Complex Disease.', 'Eosinophil percentage of white cells', '2E-13', 'rs7275426', '0.91', 'chr21', 33063313, 'C', 'T', 0.56207204, 0.05328056, 0.24424839, 0.5223229, 0.035995368, 0.23120692, -0.039749097, -0.017285194, -0.0130415, False, False, False, False, False),
 ('EUR', 'rs1000005', 32451486, 'Genome-wide meta-analysis of problematic alcohol use in 435,563 individuals yields insights into biology and relationships with other traits.', 'Alcohol consumption (drinks per week) (MTAG)', '3E-8', 'rs1000005', 'tag', 'chr21', 33060745, 'G', 'C', 0.4658757, 0.5130802, 0.39136338, 0.4494594, 0.51362103, 0.34879774, -0.016416281, 0.0005408189, -0.042565674, False, False, False, False, False),
 ('EUR', 'rs1000005', 32451486, 'Genome-wide meta-analysis of problematic alcohol use in 435,563 individuals yields insights into biology and relationships with other traits.', 'Alcohol consumption (drinks per week) (MTAG)', '3E-8', 'rs2834083', '0.9', 'chr21', 33064667, 'G', 'A', 0.74194014, 1.5964476, 1.2817764, 0.72133976, 1.5328653, 1.2002759, -0.0206004, -0.06358229, -0.08150044, False, False, False, False, False),
 ('EUR', 'rs1000005', 32451486, 'Genome-wide meta-analysis of problematic alcohol use in 435,563 individuals yields insights into biology and relationships with other traits.', 'Alcohol consumption (drinks per week) (MTAG)', '3E-8', 'rs28408622', '0.88', 'chr21', 33069369, 'A', 'C', 0.040561862, -0.11550086, -0.115877904, 0.0456007, -0.0995205, -0.08438444, 0.0050388416, 0.01598037, 0.031493478, False, False, False, False, False),
 ('EUR', 'rs1000005', 32451486, 'Genome-wide meta-analysis of problematic alcohol use in 435,563 individuals yields insights into biology and relationships with other traits.', 'Alcohol consumption (drinks per week) (MTAG)', '3E-8', 'rs7275426', '0.91', 'chr21', 33063313, 'C', 'T', 0.56207204, 0.05328056, 0.24424839, 0.5223229, 0.035995368, 0.23120692, -0.039749097, -0.017285194, -0.0130415, False, False, False, False, False),
 ('EUR', 'rs1000005', 35935937, 'Gene-Based Variant Analysis of Whole-Exome Sequencing in Relation to Eosinophil Count.', 'Eosinophil counts', '2E-9', 'rs1000005', 'tag', 'chr21', 33060745, 'G', 'C', 0.4658757, 0.5130802, 0.39136338, 0.4494594, 0.51362103, 0.34879774, -0.016416281, 0.0005408189, -0.042565674, False, False, False, False, False),
 ('EUR', 'rs1000005', 35935937, 'Gene-Based Variant Analysis of Whole-Exome Sequencing in Relation to Eosinophil Count.', 'Eosinophil counts', '2E-9', 'rs2834083', '0.9', 'chr21', 33064667, 'G', 'A', 0.74194014, 1.5964476, 1.2817764, 0.72133976, 1.5328653, 1.2002759, -0.0206004, -0.06358229, -0.08150044, False, False, False, False, False),
 ('EUR', 'rs1000005', 35935937, 'Gene-Based Variant Analysis of Whole-Exome Sequencing in Relation to Eosinophil Count.', 'Eosinophil counts', '2E-9', 'rs28408622', '0.88', 'chr21', 33069369, 'A', 'C', 0.040561862, -0.11550086, -0.115877904, 0.0456007, -0.0995205, -0.08438444, 0.0050388416, 0.01598037, 0.031493478, False, False, False, False, False),
 ('EUR', 'rs1000005', 35935937, 'Gene-Based Variant Analysis of Whole-Exome Sequencing in Relation to Eosinophil Count.', 'Eosinophil counts', '2E-9', 'rs7275426', '0.91', 'chr21', 33063313, 'C', 'T', 0.56207204, 0.05328056, 0.24424839, 0.5223229, 0.035995368, 0.23120692, -0.039749097, -0.017285194, -0.0130415, False, False, False, False, False),
 ('EUR', 'rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', '5E-17', 'rs1000005', 'tag', 'chr21', 33060745, 'G', 'C', 0.4658757, 0.5130802, 0.39136338, 0.4494594, 0.51362103, 0.34879774, -0.016416281, 0.0005408189, -0.042565674, False, False, False, False, False),
 ('EUR', 'rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', '5E-17', 'rs2834083', '0.9', 'chr21', 33064667, 'G', 'A', 0.74194014, 1.5964476, 1.2817764, 0.72133976, 1.5328653, 1.2002759, -0.0206004, -0.06358229, -0.08150044, False, False, False, False, False),
 ('EUR', 'rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', '5E-17', 'rs28408622', '0.88', 'chr21', 33069369, 'A', 'C', 0.040561862, -0.11550086, -0.115877904, 0.0456007, -0.0995205, -0.08438444, 0.0050388416, 0.01598037, 0.031493478, False, False, False, False, False),
 ('EUR', 'rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', '5E-17', 'rs7275426', '0.91', 'chr21', 33063313, 'C', 'T', 0.56207204, 0.05328056, 0.24424839, 0.5223229, 0.035995368, 0.23120692, -0.039749097, -0.017285194, -0.0130415, False, False, False, False, False)]

2025-03-18 14:24:42.156 EDT [854346] LOG:  checkpoint starting: time
2025-03-18 14:25:38.340 EDT [854346] LOG:  checkpoint complete: wrote 296 buffers (1.8%); 0 WAL file(s) added, 4 removed, 0 recycled; write=55.345 s, sync=0.810 s, total=56.185 s; sync files=12, longest=0.769 s, average=0.068 s; distance=75158 kB, estimate=138259 kB; lsn=11D/819A2FD8, redo lsn=11D/80BC8258
2025-03-18 14:29:42.909 EDT [854346] LOG:  checkpoint starting: time

In [24]:
%%sql
--total number of rows in the stacked table
SELECT COUNT(*)
FROM stacked_table;

 * postgresql://mr_root:***@localhost:5433/scratch

2025-03-17 19:34:11.209 EDT [2510223] LOG:  checkpoint starting: time
2025-03-17 19:34:16.484 EDT [2510227] WARNING:  autovacuum worker took too long to start; canceled
2025-03-17 19:34:26.585 EDT [2538342] WARNING:  autovacuum worker started without a worker entry

1 rows affected.

[(16412995,)]

2025-03-17 19:35:10.590 EDT [2510223] LOG:  checkpoint complete: wrote 296 buffers (1.8%); 0 WAL file(s) added, 3 removed, 2 recycled; write=59.130 s, sync=0.217 s, total=59.381 s; sync files=7, longest=0.120 s, average=0.031 s; distance=75591 kB, estimate=225692 kB; lsn=5B/73E0F2A8, redo lsn=5B/7308FFB0

In [26]:
%%sql
--total number of unique pmid-tag-buddy-source combinations
SELECT COUNT(*) AS unique_combinations
FROM (
    SELECT DISTINCT pubmedid, tag_snp, ld_buddy, source_table
    FROM stacked_table
) subquery;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(11699028,)]

2025-03-17 19:39:11.184 EDT [2510223] LOG:  checkpoint starting: time
2025-03-17 19:40:06.148 EDT [2510223] LOG:  checkpoint complete: wrote 287 buffers (1.8%); 0 WAL file(s) added, 1 removed, 3 recycled; write=54.319 s, sync=0.606 s, total=54.964 s; sync files=11, longest=0.605 s, average=0.056 s; distance=69999 kB, estimate=210123 kB; lsn=5B/78246508, redo lsn=5B/774EBEF0
2025-03-17 19:44:11.650 EDT [2510223] LOG:  checkpoint starting: time

That these numbers are different indicates... Multiple rows may refer to the same association + ld buddy..?

Next we will check if all associations of a given tag snp

In [27]:
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down....

2025-03-17 19:44:46.961 EDT [2510210] LOG:  received fast shutdown request
2025-03-17 19:44:46.962 EDT [2510210] LOG:  aborting any active transactions
2025-03-17 19:44:46.962 EDT [2510674] FATAL:  terminating connection due to administrator command
2025-03-17 19:44:46.963 EDT [2517276] FATAL:  terminating autovacuum process due to administrator command
2025-03-17 19:44:46.963 EDT [2517276] CONTEXT:  while scanning block 7931331 of relation "public.unique_id_malin_gnomad"
2025-03-17 19:44:46.967 EDT [2510210] LOG:  background worker "logical replication launcher" (PID 2510228) exited with exit code 1
2025-03-17 19:44:47.024 EDT [2510223] LOG:  checkpoint complete: wrote 333 buffers (2.0%); 0 WAL file(s) added, 1 removed, 3 recycled; write=35.332 s, sync=0.004 s, total=35.374 s; sync files=12, longest=0.003 s, average=0.001 s; distance=75555 kB, estimate=196666 kB; lsn=5B/7C739AA0, redo lsn=5B/7BEB4D18
2025-03-17 19:44:47.025 EDT [2510223] LOG:  shutting down
2025-03-17 19:44:47.027 EDT [2510223] LOG:  checkpoint starting: shutdown immediate
2025-03-17 19:44:47.113 EDT [2510223] LOG:  checkpoint complete: wrote 294 buffers (1.8%); 0 WAL file(s) added, 1 removed, 0 recycled; write=0.069 s, sync=0.003 s, total=0.088 s; sync files=3, longest=0.002 s, average=0.001 s; distance=8723 kB, estimate=177872 kB; lsn=5B/7C739B18, redo lsn=5B/7C739B18
2025-03-17 19:44:47.136 EDT [2510210] LOG:  database system is shut down

 done
server stopped