In [1]:
import os
import subprocess
import requests
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])
# Load the SQL extension
%load_ext sql
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

2025-02-05 10:39:43.381 EST [80382] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-02-05 10:39:43.382 EST [80382] LOG:  listening on IPv6 address "::1", port 5433
2025-02-05 10:39:43.382 EST [80382] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-02-05 10:39:43.392 EST [80382] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-02-05 10:39:43.661 EST [80385] LOG:  database system was shut down at 2025-02-04 17:35:15 EST
2025-02-05 10:39:43.958 EST [80382] LOG:  database system is ready to accept connections

In [2]:
print("[+] Waiting 120s for database server to start", flush=True)
import time
import datetime
print(f"[+] {datetime.datetime.now()}",flush=True)
time.sleep(120)

[+] Waiting 120s for database server to start
[+] 2025-02-05 10:39:52.688384

In [3]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [3]:
%%sql
SELECT *
FROM unique_id_malin_gnomad
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('chr8', 86407902, 'rs1000000027', 'T', 'C', 'K562__ref=0.26411834;HepG2__ref=0.2490378;SKNSH__ref=0.19336401;K562__alt=0.22911088;HepG2__alt=0.23659386;SKNSH__alt=0.1424813;K562__skew=-0.035007514;HepG2__skew=-0.012443928;SKNSH__skew=-0.05088271'),
 ('chr15', 63858809, 'rs1000000031', 'A', 'G', 'K562__ref=0.15222755;HepG2__ref=0.088025704;SKNSH__ref=-0.036752418;K562__alt=0.15424068;HepG2__alt=0.080989175;SKNSH__alt=-0.02019614;K562__skew=0.0020131331;HepG2__skew=-0.0070365327;SKNSH__skew=0.01655627'),
 ('chr2', 12732231, 'rs1000000040', 'A', 'C', 'K562__ref=-0.03675546;HepG2__ref=0.08309887;SKNSH__ref=-0.18381742;K562__alt=-0.027480926;HepG2__alt=0.10394696;SKNSH__alt=-0.14794156;K562__skew=0.009274546;HepG2__skew=0.02084807;SKNSH__skew=0.035875842'),
 ('chr2', 12572351, 'rs1000000045', 'T', 'C', 'K562__ref=0.04008349;HepG2__ref=0.11491369;SKNSH__ref=0.1217236;K562__alt=0.06106084;HepG2__alt=0.123890676;SKNSH__alt=0.10357742;K562__skew=0.020977356;HepG2__skew=0.008976987;SKNSH__skew=-0.018146161'),
 ('chr10', 109365081, 'rs1000000053', 'G', 'A', 'K562__ref=-0.0531925;HepG2__ref=-0.13913666;SKNSH__ref=-0.23115686;K562__alt=-0.038817097;HepG2__alt=-0.11559747;SKNSH__alt=-0.1992156;K562__skew=0.014375408;HepG2__skew=0.023539182;SKNSH__skew=0.031941243')]

In [16]:
%%sql
SELECT *
FROM gwas_AFR
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs1000005', 'tag'),
 ('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs7275426', '0.83'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs10000225', 'tag'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs10009710', '0.71'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs12640763', '0.74')]

In [ ]:
print("[+] POP AFR",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [ ]:
%%sql
DROP TABLE merged_AFR;

In [ ]:
%%sql
CREATE TABLE merged_AFR AS
SELECT *
FROM
    gwas_AFR
INNER JOIN
    unique_id_malin_gnomad
ON
    unique_id_malin_gnomad.id=gwas_AFR.rsid;

In [ ]:
print("[+] POP EUR",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [ ]:
%%sql
CREATE TABLE merged_EUR AS
SELECT *
FROM
    gwas_EUR
INNER JOIN
    unique_id_malin_gnomad
ON
    unique_id_malin_gnomad.id=gwas_EUR.rsid;

In [ ]:
print("[+] POP ASN",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [ ]:
%%sql
CREATE TABLE merged_ASN AS
SELECT *
FROM
    gwas_ASN
INNER JOIN
    unique_id_malin_gnomad
ON
    unique_id_malin_gnomad.id=gwas_ASN.rsid;

In [ ]:
print("[+] DONE.",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [4]:
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down....

2025-02-05 10:41:54.023 EST [80382] LOG:  received fast shutdown request
2025-02-05 10:41:54.079 EST [80382] LOG:  aborting any active transactions
2025-02-05 10:41:54.079 EST [80555] FATAL:  terminating connection due to administrator command
2025-02-05 10:41:54.079 EST [80438] FATAL:  terminating autovacuum process due to administrator command
2025-02-05 10:41:54.079 EST [80438] CONTEXT:  while scanning block 6205597 of relation "public.unique_id_malin_gnomad"
2025-02-05 10:41:54.084 EST [80382] LOG:  background worker "logical replication launcher" (PID 80388) exited with exit code 1
2025-02-05 10:41:54.085 EST [80533] FATAL:  terminating autovacuum process due to administrator command
2025-02-05 10:41:54.085 EST [80533] CONTEXT:  while scanning block 20761 of relation "public.merged_afr"
2025-02-05 10:41:54.928 EST [80383] LOG:  shutting down
2025-02-05 10:41:54.950 EST [80383] LOG:  checkpoint starting: shutdown immediate

. done
server stopped

2025-02-05 10:41:55.476 EST [80383] LOG:  checkpoint complete: wrote 598 buffers (3.6%); 0 WAL file(s) added, 1 removed, 0 recycled; write=0.282 s, sync=0.040 s, total=0.548 s; sync files=13, longest=0.033 s, average=0.004 s; distance=17483 kB, estimate=17483 kB; lsn=8C/D1E09960, redo lsn=8C/D1E09960
2025-02-05 10:41:55.518 EST [80382] LOG:  database system is shut down

In [ ]:
print("WAITING 60s FOR SERVER TO SHUT DOWN",flush=True)
time.sleep(60)