In [2]:
import os
import subprocess
import requests
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])
# Load the SQL extension
%load_ext sql
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

2025-02-10 18:35:37.030 EST [4115887] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-02-10 18:35:37.031 EST [4115887] LOG:  listening on IPv6 address "::1", port 5433
2025-02-10 18:35:37.031 EST [4115887] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-02-10 18:35:37.049 EST [4115887] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-02-10 18:35:37.248 EST [4115906] LOG:  database system was shut down at 2025-02-10 15:43:17 EST
2025-02-10 18:35:37.342 EST [4115887] LOG:  database system is ready to accept connections

In [ ]:
#print("[+] Waiting 120s for database server to start", flush=True)
#import time
#import datetime
#print(f"[+] {datetime.datetime.now()}",flush=True)
#time.sleep(120)

[+] Waiting 120s for database server to start
[+] 2025-02-05 15:25:49.915940

In [4]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [ ]:
%%sql
SELECT *
FROM merged_AFR
LIMIT 1;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', '5E-17', 'rs7275426', '0.83', 'chr21', 33060745, 'G', 'C', 'K562__ref=0.4658757;HepG2__ref=0.5130802;SKNSH__ref=0.39136338;K562__alt=0.4494594;HepG2__alt=0.51362103;SKNSH__alt=0.34879774;K562__skew=-0.016416281;HepG2__skew=0.0005408189;SKNSH__skew=-0.042565674')]

Per table tasks: 
- drop p_value
- rename broad_ancestral_category to p_value 
- drop id
- count rows, before and after merge

In [10]:
%%sql
ALTER TABLE merged_AFR
    DROP COLUMN p_value;
ALTER TABLE merged_AFR
    RENAME COLUMN broad_ancestral_category TO p_value;
ALTER TABLE merged_AFR
    DROP COLUMN id;

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [14]:
%%sql
SELECT count(*) AS exact_count FROM gwas_AFR;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(1513213,)]

2025-02-05 15:43:45.396 EST [1482224] LOG:  checkpoint starting: time
2025-02-05 15:43:45.732 EST [1482224] LOG:  checkpoint complete: wrote 2 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.208 s, sync=0.020 s, total=0.336 s; sync files=2, longest=0.017 s, average=0.010 s; distance=8 kB, estimate=13730 kB; lsn=8E/E43A3E20, redo lsn=8E/E43A3DC8

In [13]:
%%sql
SELECT count(*) AS exact_count FROM merged_AFR;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(1262917,)]

In [15]:
%%sql
ALTER TABLE merged_ASN
    DROP COLUMN p_value;
ALTER TABLE merged_ASN
    RENAME COLUMN broad_ancestral_category TO p_value;
ALTER TABLE merged_ASN
    DROP COLUMN id;

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
Done.
Done.

[]

In [16]:
%%sql
SELECT count(*) AS exact_count FROM gwas_ASN;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(5756158,)]

In [17]:
%%sql
SELECT count(*) AS exact_count FROM merged_ASN;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(4804689,)]

2025-02-05 15:48:45.812 EST [1482224] LOG:  checkpoint starting: time
2025-02-05 15:48:46.408 EST [1482224] LOG:  checkpoint complete: wrote 6 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.518 s, sync=0.014 s, total=0.596 s; sync files=5, longest=0.010 s, average=0.003 s; distance=28 kB, estimate=12360 kB; lsn=8E/E43AB0E8, redo lsn=8E/E43AB090

In [18]:
%%sql
ALTER TABLE merged_EUR
    DROP COLUMN p_value;
ALTER TABLE merged_EUR
    RENAME COLUMN broad_ancestral_category TO p_value;
ALTER TABLE merged_EUR
    DROP COLUMN id;

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
Done.
Done.

[]

In [19]:
%%sql
SELECT count(*) AS exact_count FROM gwas_EUR;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(14127460,)]

In [20]:
%%sql
SELECT count(*) AS exact_count FROM merged_EUR;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(11702163,)]

2025-02-05 15:53:45.508 EST [1482224] LOG:  checkpoint starting: time
2025-02-05 15:53:46.089 EST [1482224] LOG:  checkpoint complete: wrote 6 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.519 s, sync=0.013 s, total=0.581 s; sync files=5, longest=0.009 s, average=0.003 s; distance=32 kB, estimate=11127 kB; lsn=8E/E43B3460, redo lsn=8E/E43B3408

In [5]:
%%sql
COPY merged_AFR 
TO '/home/mcn26/varef/data/GWAS_malin/AFR.tsv'
WITH DELIMITER E'\t' HEADER;

 * postgresql://mr_root:***@localhost:5433/scratch
1262917 rows affected.

[]

In [6]:
%%sql
COPY merged_EUR
TO '/home/mcn26/varef/data/GWAS_malin/EUR.tsv'
WITH DELIMITER E'\t' HEADER;

 * postgresql://mr_root:***@localhost:5433/scratch
11702163 rows affected.

[]

In [7]:
%%sql
COPY merged_ASN
TO '/home/mcn26/varef/data/GWAS_malin/ASN.tsv'
WITH DELIMITER E'\t' HEADER;

 * postgresql://mr_root:***@localhost:5433/scratch
4804689 rows affected.

[]

In [9]:
#sleep(20)
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down....

2025-02-10 18:37:30.927 EST [4115887] LOG:  received fast shutdown request
2025-02-10 18:37:30.945 EST [4115887] LOG:  aborting any active transactions
2025-02-10 18:37:30.946 EST [4116012] FATAL:  terminating connection due to administrator command
2025-02-10 18:37:30.952 EST [4115887] LOG:  background worker "logical replication launcher" (PID 4115916) exited with exit code 1
2025-02-10 18:37:30.996 EST [4115904] LOG:  shutting down
2025-02-10 18:37:31.012 EST [4115904] LOG:  checkpoint starting: shutdown immediate
2025-02-10 18:37:31.099 EST [4115904] LOG:  checkpoint complete: wrote 3 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.032 s, sync=0.003 s, total=0.104 s; sync files=2, longest=0.003 s, average=0.002 s; distance=0 kB, estimate=0 kB; lsn=8E/E43D1E40, redo lsn=8E/E43D1E40

 done
server stopped

2025-02-10 18:37:31.146 EST [4115887] LOG:  database system is shut down

In [10]:
print("DONE")

DONE