In [1]:
import os
import subprocess
import requests
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])
# Load the SQL extension
%load_ext sql
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

2025-02-16 15:02:40.808 EST [1722822] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-02-16 15:02:40.808 EST [1722822] LOG:  listening on IPv6 address "::1", port 5433
2025-02-16 15:02:40.808 EST [1722822] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-02-16 15:02:40.812 EST [1722822] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-02-16 15:02:40.872 EST [1722825] LOG:  database system was shut down at 2025-02-14 18:31:18 EST
2025-02-16 15:02:40.915 EST [1722822] LOG:  database system is ready to accept connections

In [2]:
print("[+] Waiting 120s for database server to start", flush=True)
import time
import datetime
print(f"[+] {datetime.datetime.now()}",flush=True)
time.sleep(120)

[+] Waiting 120s for database server to start
[+] 2025-02-05 10:39:52.688384

In [2]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

2025-02-16 15:07:40.712 EST [1722823] LOG:  checkpoint starting: time

Let's check to make sure that the deduplication was successful...

In [3]:
#%%sql
#SELECT COUNT(DISTINCT id) AS unique_count
#FROM unique_id_malin_gnomad;
#commenting out for future runs: number should be 392260882

 * postgresql://mr_root:***@localhost:5433/scratch

2025-02-16 15:09:01.062 EST [1722823] LOG:  checkpoint complete: wrote 279 buffers (1.7%); 0 WAL file(s) added, 4 removed, 0 recycled; write=80.017 s, sync=0.141 s, total=80.351 s; sync files=23, longest=0.045 s, average=0.007 s; distance=60901 kB, estimate=60901 kB; lsn=75/58D2A940, redo lsn=75/5803F4C0
2025-02-16 15:12:40.392 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:13:49.918 EST [1722823] LOG:  checkpoint complete: wrote 157 buffers (1.0%); 0 WAL file(s) added, 2 removed, 0 recycled; write=69.091 s, sync=0.264 s, total=69.527 s; sync files=10, longest=0.127 s, average=0.027 s; distance=35396 kB, estimate=58350 kB; lsn=75/5A97E3D0, redo lsn=75/5A2D0570
2025-02-16 15:17:40.273 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:18:50.452 EST [1722823] LOG:  checkpoint complete: wrote 172 buffers (1.0%); 0 WAL file(s) added, 2 removed, 0 recycled; write=69.552 s, sync=0.564 s, total=70.179 s; sync files=12, longest=0.251 s, average=0.047 s; distance=38795 kB, estimate=56395 kB; lsn=75/5D567DD0, redo lsn=75/5C8B3420

1 rows affected.

[(392260882,)]

In [4]:
#%%sql
#SELECT COUNT(id) AS _count
#FROM unique_id_malin_gnomad;
#commenting out for future runs: number should be 392260882

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[(392260882,)]

2025-02-16 15:22:40.784 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:23:54.831 EST [1722823] LOG:  checkpoint complete: wrote 221 buffers (1.3%); 0 WAL file(s) added, 3 removed, 0 recycled; write=73.196 s, sync=0.823 s, total=74.048 s; sync files=13, longest=0.426 s, average=0.064 s; distance=50094 kB, estimate=55764 kB; lsn=75/60C0C740, redo lsn=75/5F99EED8
2025-02-16 15:27:40.176 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:29:05.741 EST [1722823] LOG:  checkpoint complete: wrote 335 buffers (2.0%); 0 WAL file(s) added, 5 removed, 0 recycled; write=84.818 s, sync=0.702 s, total=85.566 s; sync files=15, longest=0.358 s, average=0.047 s; distance=76361 kB, estimate=76361 kB; lsn=75/6596EE98, redo lsn=75/644316B8
2025-02-16 15:32:40.360 EST [1722823] LOG:  checkpoint starting: time

In [5]:
#%%sql
#SELECT COUNT(id) AS _count
#FROM malin_gnomad;
#commenting out for future runs: number should be 621936226

 * postgresql://mr_root:***@localhost:5433/scratch

2025-02-16 15:34:05.818 EST [1722823] LOG:  checkpoint complete: wrote 337 buffers (2.1%); 0 WAL file(s) added, 4 removed, 0 recycled; write=85.273 s, sync=0.048 s, total=85.459 s; sync files=15, longest=0.015 s, average=0.004 s; distance=76343 kB, estimate=76360 kB; lsn=75/6A29B370, redo lsn=75/68EBF358

1 rows affected.

[(621936226,)]

In [6]:
#%%sql
#SELECT COUNT(DISTINCT id) AS unique_count
#FROM malin_gnomad;
#commenting out for future runs: number should be 419498607

 * postgresql://mr_root:***@localhost:5433/scratch

2025-02-16 15:37:40.440 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:38:59.721 EST [1722823] LOG:  checkpoint complete: wrote 241 buffers (1.5%); 0 WAL file(s) added, 4 removed, 0 recycled; write=78.416 s, sync=0.387 s, total=79.281 s; sync files=12, longest=0.351 s, average=0.033 s; distance=54600 kB, estimate=74184 kB; lsn=75/6D570F68, redo lsn=75/6C4113A8
2025-02-16 15:42:40.807 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:43:57.806 EST [1722823] LOG:  checkpoint complete: wrote 220 buffers (1.3%); 0 WAL file(s) added, 3 removed, 0 recycled; write=75.238 s, sync=0.055 s, total=76.999 s; sync files=12, longest=0.022 s, average=0.005 s; distance=49988 kB, estimate=71764 kB; lsn=75/6FD15BF0, redo lsn=75/6F4E2728
2025-02-16 15:47:40.929 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:48:52.674 EST [1722823] LOG:  checkpoint complete: wrote 180 buffers (1.1%); 0 WAL file(s) added, 2 removed, 0 recycled; write=71.481 s, sync=0.112 s, total=71.746 s; sync files=10, longest=0.047 s, average=0.012 s; distance=40741 kB, estimate=68662 kB; lsn=75/7239F298, redo lsn=75/71CABE20
2025-02-16 15:52:40.111 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:53:50.966 EST [1722823] LOG:  checkpoint complete: wrote 178 buffers (1.1%); 0 WAL file(s) added, 3 removed, 0 recycled; write=70.244 s, sync=0.461 s, total=70.855 s; sync files=12, longest=0.257 s, average=0.039 s; distance=40297 kB, estimate=65825 kB; lsn=75/750B5B48, redo lsn=75/74406298

1 rows affected.

[(419498607,)]

2025-02-16 15:57:40.541 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 15:58:57.224 EST [1722823] LOG:  checkpoint complete: wrote 246 buffers (1.5%); 0 WAL file(s) added, 3 removed, 0 recycled; write=75.808 s, sync=0.822 s, total=76.684 s; sync files=14, longest=0.414 s, average=0.059 s; distance=55780 kB, estimate=64821 kB; lsn=75/78D8DC10, redo lsn=75/77A7F5E0
2025-02-16 16:02:40.540 EST [1722823] LOG:  checkpoint starting: time
2025-02-16 16:04:05.789 EST [1722823] LOG:  checkpoint complete: wrote 336 buffers (2.1%); 0 WAL file(s) added, 5 removed, 0 recycled; write=84.817 s, sync=0.390 s, total=85.249 s; sync files=15, longest=0.289 s, average=0.026 s; distance=76482 kB, estimate=76482 kB; lsn=75/7DA390A0, redo lsn=75/7C530140

In [3]:
%%sql
SELECT *
FROM unique_id_malin_gnomad
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('chr10', 58798172, 'rs982522737', 'A', 'G', 'K562__ref=0.26318875;HepG2__ref=0.066638686;SKNSH__ref=0.20157507;K562__alt=0.09214489;HepG2__alt=-0.03789615;SKNSH__alt=-0.14369352;K562__skew=-0.17104386;HepG2__skew=-0.10453483;SKNSH__skew=-0.34526858'),
 ('chr21', 19189342, 'rs982522746', 'T', 'C', 'K562__ref=0.14763962;HepG2__ref=0.14593928;SKNSH__ref=0.43765894;K562__alt=0.15586911;HepG2__alt=0.14508562;SKNSH__alt=0.42985588;K562__skew=0.008229497;HepG2__skew=-0.0008536721;SKNSH__skew=-0.0078030643'),
 ('chr11', 35924364, 'rs982522833', 'C', 'T', 'K562__ref=0.066476375;HepG2__ref=0.0030600794;SKNSH__ref=0.035900187;K562__alt=0.07203832;HepG2__alt=0.008766613;SKNSH__alt=0.022698186;K562__skew=0.0055619464;HepG2__skew=0.0057065324;SKNSH__skew=-0.013201998'),
 ('chr10', 43700248, 'rs982522846', 'C', 'A', 'K562__ref=0.06507071;HepG2__ref=0.42022642;SKNSH__ref=0.2242539;K562__alt=0.046301812;HepG2__alt=0.36968836;SKNSH__alt=0.17832266;K562__skew=-0.018768888;HepG2__skew=-0.05053808;SKNSH__skew=-0.045931228'),
 ('chr11', 87424149, 'rs982522858', 'T', 'C', 'K562__ref=0.24327374;HepG2__ref=0.21509704;SKNSH__ref=0.19406417;K562__alt=0.20947936;HepG2__alt=0.20599547;SKNSH__alt=0.16434972;K562__skew=-0.03379436;HepG2__skew=-0.009101561;SKNSH__skew=-0.029714452')]

2025-02-14 14:02:49.752 EST [1297425] LOG:  checkpoint starting: time
2025-02-14 14:03:49.858 EST [1297424] LOG:  lock file "postmaster.pid" contains wrong PID: 4154184 instead of 1297424
2025-02-14 14:03:49.858 EST [1297424] LOG:  performing immediate shutdown because data directory lock file is invalid
2025-02-14 14:03:49.858 EST [1297424] LOG:  received immediate shutdown request
2025-02-14 14:03:50.515 EST [1297424] LOG:  database system is shut down

In [16]:
%%sql
SELECT *
FROM gwas_AFR
LIMIT 5;

 * postgresql://mr_root:***@localhost:5433/scratch
5 rows affected.

[('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs1000005', 'tag'),
 ('rs1000005', 36477530, 'Genetic diversity fuels gene discovery for tobacco and alcohol use.', 'Drinks per week', 'rs1000005', '5E-17', 'rs7275426', '0.83'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs10000225', 'tag'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs10009710', '0.71'),
 ('rs10000225', 26634245, 'A genome-wide association study identifies risk loci for spirometric measures among smokers of European and African ancestry.', 'Post bronchodilator FEV1', 'rs10000225', '3E-6', 'rs12640763', '0.74')]

In [ ]:
print("[+] POP AFR",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [ ]:
%%sql
--DROP TABLE merged_AFR CASCADE;
CREATE TABLE merged_AFR AS
SELECT *
FROM
    gwas_AFR
INNER JOIN
    unique_id_malin_gnomad
ON
    unique_id_malin_gnomad.id=gwas_AFR.ld_buddy;

In [ ]:
print("[+] POP EUR",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [ ]:
%%sql
--DROP TABLE merged_EUR CASCADE;
CREATE TABLE merged_EUR AS
SELECT *
FROM
    gwas_EUR
INNER JOIN
    unique_id_malin_gnomad
ON
    unique_id_malin_gnomad.id=gwas_EUR.ld_buddy;

In [ ]:
print("[+] POP ASN",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [ ]:
%%sql
--DROP TABLE merged_ASN CASCADE;
CREATE TABLE merged_ASN AS
SELECT *
FROM
    gwas_ASN
INNER JOIN
    unique_id_malin_gnomad
ON
    unique_id_malin_gnomad.id=gwas_ASN.ld_buddy;

In [ ]:
print("[+] DONE.",flush=True)
print(f"[+] {datetime.datetime.now()}",flush=True)

In [7]:
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down....

2025-02-16 16:07:39.681 EST [1722822] LOG:  received fast shutdown request
2025-02-16 16:07:39.684 EST [1722822] LOG:  aborting any active transactions
2025-02-16 16:07:39.718 EST [1723102] FATAL:  terminating connection due to administrator command
2025-02-16 16:07:39.724 EST [1722822] LOG:  background worker "logical replication launcher" (PID 1722828) exited with exit code 1
2025-02-16 16:07:39.724 EST [1727419] FATAL:  terminating autovacuum process due to administrator command
2025-02-16 16:07:39.724 EST [1727419] CONTEXT:  while scanning block 19802040 of relation "public.malin_gnomad"
2025-02-16 16:07:39.724 EST [1727780] FATAL:  terminating autovacuum process due to administrator command
2025-02-16 16:07:39.724 EST [1727780] CONTEXT:  while scanning block 5684399 of relation "public.unique_id_malin_gnomad"
2025-02-16 16:07:40.159 EST [1722823] LOG:  shutting down
2025-02-16 16:07:40.161 EST [1722823] LOG:  checkpoint starting: shutdown immediate
2025-02-16 16:07:40.347 EST [1722823] LOG:  checkpoint complete: wrote 846 buffers (5.2%); 0 WAL file(s) added, 4 removed, 0 recycled; write=0.111 s, sync=0.009 s, total=0.188 s; sync files=13, longest=0.009 s, average=0.001 s; distance=75858 kB, estimate=76420 kB; lsn=75/80F44B60, redo lsn=75/80F44B60

 done
server stopped

2025-02-16 16:07:40.371 EST [1722822] LOG:  database system is shut down

In [ ]:
print("WAITING 60s FOR SERVER TO SHUT DOWN",flush=True)
time.sleep(60)