# Connect to database

In [1]:
import os
import subprocess
import requests
import pandas as pd
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])
# Load the SQL extension
%load_ext sql
#dealing with a weird bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

2025-04-07 14:47:39.432 EDT [3606921] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-04-07 14:47:39.432 EDT [3606921] LOG:  listening on IPv6 address "::1", port 5433
2025-04-07 14:47:39.432 EDT [3606921] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-04-07 14:47:39.435 EDT [3606921] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-04-07 14:47:39.502 EDT [3606924] LOG:  database system was shut down at 2025-04-06 19:11:37 EDT
2025-04-07 14:47:39.552 EDT [3606921] LOG:  database system is ready to accept connections

In [2]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [3]:
%%sql
SELECT *
FROM stacked_table_deduplicated
LIMIT 1;

 * postgresql://mr_root:***@localhost:5433/scratch
1 rows affected.

[('AFR', 'rs10003663', 32778093, 'Genome-wide pQTL analysis of protein expression regulatory networks in the human liver.', 'Protein quantitative trait loci (liver)', '7E-9', 'rs10020727', '1', 'chr4', 146990647, 'rs10020727', 'T', 'C', '.', 'PASS', 'K562__ref=0.1046501;HepG2__ref=0.08851952;SKNSH__ref=0.2252844;K562__alt=0.07711981;HepG2__alt=0.10753845;SKNSH__alt=0.19409476;K562__skew=-0.0275302 ... (584 characters truncated) ... afr=2801;AF_afr=0.0675917;AC_mid=4;AF_mid=0.0126582;AC_asj=0;AF_asj=0;AC_nfe=26;AF_nfe=0.000382207;AC_popmax=2801;AN_popmax=41440;AF_popmax=0.0675917', 0.1046501, 0.08851952, 0.2252844, 0.07711981, 0.10753845, 0.19409476, -0.027530294, 0.019018918, -0.031189611, 2985, 152186, 0.0196142, 7.809, False, False, False, False, False, False, False, False, 0.272, 0.13948467373847961, -0.013233661651611328, 0.0196142, 'COMMON', False, False, False, False, False)]

# Count

I want to count the number of tag SNP and ld buddy snps which are and aren't emvars. The steps are...

for tag snps
1. select all tag snp rows
2. flatten to all uniq tag_snp, any_emvar combos
3. make sure same tag_snp never occurs more than once (as this would indicate a tag snp which is annotated with two different emvar statues, which *should* be impossible)
4. count +/- emvar status

Then repeat those steps for ld buddies (first step replaced with selecting "not tag snp").

## tag

In [7]:
%%sql
--check if any source_table, tag_snp combos have more than one pred (shouldn't be so)
SELECT source_table, tag_snp
FROM stacked_table_deduplicated
WHERE r2 = 'tag'
GROUP BY source_table, tag_snp
HAVING COUNT(DISTINCT any_emvar) > 1;

 * postgresql://mr_root:***@localhost:5433/scratch

2025-04-06 17:40:28.303 EDT [4111260] LOG:  checkpoint complete: wrote 89 buffers (0.5%); 0 WAL file(s) added, 4 removed, 6 recycled; write=54.275 s, sync=0.204 s, total=55.064 s; sync files=11, longest=0.193 s, average=0.019 s; distance=161809 kB, estimate=456523 kB; lsn=1E3/95A94368, redo lsn=1E3/94618F50

0 rows affected.

[]

2025-04-06 17:44:33.340 EDT [4111260] LOG:  checkpoint starting: time

In [8]:
%%sql
--create a view as step 2 above
CREATE VIEW tag_emvar_view AS
SELECT DISTINCT source_table, tag_snp, any_emvar
FROM stacked_table_deduplicated
WHERE r2 = 'tag';

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [4]:
tag_result=%sql SELECT source_table, any_emvar, COUNT(tag_snp) \
    FROM tag_emvar_view \
    GROUP BY source_table, any_emvar;

 * postgresql://mr_root:***@localhost:5433/scratch
6 rows affected.

## ld_buddy

In [13]:
%%sql
--check if any source_table, ld_buddy combos have more than one pred (shouldn't be so)
SELECT source_table, ld_buddy
FROM stacked_table_deduplicated
WHERE r2 != 'tag'
GROUP BY source_table, ld_buddy
HAVING COUNT(DISTINCT any_emvar) > 1;

 * postgresql://mr_root:***@localhost:5433/scratch
0 rows affected.

[]

In [14]:
%%sql
--create a view as step 2 above
CREATE VIEW buddy_emvar_view AS
SELECT DISTINCT source_table, ld_buddy, any_emvar
FROM stacked_table_deduplicated
WHERE r2 != 'tag';

 * postgresql://mr_root:***@localhost:5433/scratch
Done.

[]

In [3]:
buddy_result=%sql SELECT source_table, any_emvar, COUNT(ld_buddy) \
    FROM buddy_emvar_view \
    GROUP BY source_table, any_emvar;

 * postgresql://mr_root:***@localhost:5433/scratch
6 rows affected.

# fisher's

In [5]:
tag_result

[('AFR', False, 82481),
 ('AFR', True, 1643),
 ('ASN', False, 96545),
 ('ASN', True, 1885),
 ('EUR', False, 229528),
 ('EUR', True, 4203)]

In [6]:
buddy_result

[('AFR', False, 471392),
 ('AFR', True, 6567),
 ('ASN', False, 1129786),
 ('ASN', True, 16328),
 ('EUR', False, 1899533),
 ('EUR', True, 26578)]

2025-04-07 14:52:39.539 EDT [3606922] LOG:  checkpoint starting: time
2025-04-07 14:52:39.570 EDT [3606922] LOG:  checkpoint complete: wrote 3 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.009 s, sync=0.001 s, total=0.032 s; sync files=3, longest=0.001 s, average=0.001 s; distance=0 kB, estimate=0 kB; lsn=1E4/145F2AA8, redo lsn=1E4/145F2A50

In [7]:
#don't need server at this point...
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down.... done
server stopped

2025-04-07 14:53:05.688 EDT [3606921] LOG:  received fast shutdown request
2025-04-07 14:53:05.690 EDT [3606921] LOG:  aborting any active transactions
2025-04-07 14:53:05.691 EDT [3607421] FATAL:  terminating connection due to administrator command
2025-04-07 14:53:05.695 EDT [3606921] LOG:  background worker "logical replication launcher" (PID 3606927) exited with exit code 1
2025-04-07 14:53:05.710 EDT [3606922] LOG:  shutting down
2025-04-07 14:53:05.712 EDT [3606922] LOG:  checkpoint starting: shutdown immediate
2025-04-07 14:53:05.723 EDT [3606922] LOG:  checkpoint complete: wrote 0 buffers (0.0%); 0 WAL file(s) added, 0 removed, 0 recycled; write=0.001 s, sync=0.001 s, total=0.013 s; sync files=0, longest=0.000 s, average=0.000 s; distance=0 kB, estimate=0 kB; lsn=1E4/145F2B58, redo lsn=1E4/145F2B58
2025-04-07 14:53:05.748 EDT [3606921] LOG:  database system is shut down

In [19]:
#combine and dump both to disc
master=pd.DataFrame(tag_result)
master["type"]=["tag"]*len(master)
buddy=pd.DataFrame(buddy_result)
buddy["type"]=["buddy"]*len(buddy)
master=pd.concat([master,buddy])
master.to_csv("summary.tsv",sep="\t")

In [20]:
master

  source_table  any_emvar    count   type
0          AFR      False    82481    tag
1          AFR       True     1643    tag
2          ASN      False    96545    tag
3          ASN       True     1885    tag
4          EUR      False   229528    tag
5          EUR       True     4203    tag
0          AFR      False   471392  buddy
1          AFR       True     6567  buddy
2          ASN      False  1129786  buddy
3          ASN       True    16328  buddy
4          EUR      False  1899533  buddy
5          EUR       True    26578  buddy

In [13]:
from scipy.stats import fisher_exact

In [28]:
for pop in master["source_table"].unique():
    working=master[master["source_table"]==pop]
    working=working.drop("source_table",axis=1)
    working=working.pivot(index="any_emvar",columns="type",values="count")
    
    odds_ratio, p_value = fisher_exact(working)

    print(f"Fisher's Exact Test results for {pop}:")
    print(f"Odds Ratio: {odds_ratio}")
    print(f"P-value: {p_value}")
    print()

Fisher's Exact Test results for AFR:
Odds Ratio: 1.429877516337142
P-value: 2.4884545842616293e-35

Fisher's Exact Test results for ASN:
Odds Ratio: 1.3509670748566804
P-value: 4.4135047193276016e-32

Fisher's Exact Test results for EUR:
Odds Ratio: 1.3087245921279975
P-value: 1.1319322600027405e-54

Fisher's Exact Test results:
Odds Ratio: 1.2953278342960413
P-value: 1.0766229792777402e-54