In [11]:
import os
import subprocess
import requests
import psycopg2

In [12]:
#start the database
process = subprocess.Popen(["postgres", "-D", "/home/mcn26/palmer_scratch/db", "-p", "5433"])

2025-01-06 16:27:02.532 EST [2602006] LOG:  starting PostgreSQL 17.2 on x86_64-conda-linux-gnu, compiled by x86_64-conda-linux-gnu-cc (Anaconda gcc) 11.2.0, 64-bit
2025-01-06 16:27:02.532 EST [2602006] LOG:  listening on IPv6 address "::1", port 5433
2025-01-06 16:27:02.532 EST [2602006] LOG:  listening on IPv4 address "127.0.0.1", port 5433
2025-01-06 16:27:02.552 EST [2602006] LOG:  listening on Unix socket "/tmp/.s.PGSQL.5433"
2025-01-06 16:27:02.621 EST [2602012] LOG:  database system was shut down at 2025-01-06 16:26:54 EST
2025-01-06 16:27:02.695 EST [2602006] LOG:  database system is ready to accept connections

In [13]:
# Load the SQL extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
import time
time.sleep(5)
#make sure the server has tome to start

In [14]:
%%sql
postgresql://mr_root:password@localhost:5433/scratch

In [5]:
%%sql
CREATE TABLE cars (
  brand VARCHAR(255),
  model VARCHAR(255),
  year INT
);

 * postgresql://mr_root:***@localhost:5433/scratch
(psycopg2.errors.DuplicateTable) relation "cars" already exists

[SQL: CREATE TABLE cars (
  brand VARCHAR(255),
  model VARCHAR(255),
  year INT
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

2025-01-06 16:24:57.484 EST [2585703] ERROR:  relation "cars" already exists
2025-01-06 16:24:57.484 EST [2585703] STATEMENT:  CREATE TABLE cars (
	  brand VARCHAR(255),
	  model VARCHAR(255),
	  year INT
	);

Ok, seems to be up and running. Let's download the GWAS catalog.

In [49]:
!wget -P /home/mcn26/palmer_scratch https://www.ebi.ac.uk/gwas/api/search/downloads/full

--2025-01-06 15:59:38--  https://www.ebi.ac.uk/gwas/api/search/downloads/full
Resolving www.ebi.ac.uk (www.ebi.ac.uk)... 193.62.193.80
Connecting to www.ebi.ac.uk (www.ebi.ac.uk)|193.62.193.80|:443...

Exception during reset or similar
Traceback (most recent call last):
  File "/gpfs/gibbs/project/reilly/mcn26/conda_envs/mcn_varef/lib/python3.10/site-packages/sqlalchemy/pool/base.py", line 986, in _finalize_fairy
    fairy._reset(
  File "/gpfs/gibbs/project/reilly/mcn26/conda_envs/mcn_varef/lib/python3.10/site-packages/sqlalchemy/pool/base.py", line 1432, in _reset
    pool._dialect.do_rollback(self)
  File "/gpfs/gibbs/project/reilly/mcn26/conda_envs/mcn_varef/lib/python3.10/site-packages/sqlalchemy/engine/default.py", line 699, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/tsv]
Saving to: ‘/home/mcn26/palmer_scratch/full.1’

full.1                  [            <=>     ] 111.34M  25.3MB/s

2025-01-06 15:59:43.430 EST [1183625] LOG:  checkpoint starting: time

full.1                  [      <=>           ] 213.24M  26.6MB/s

2025-01-06 15:59:47.398 EST [1183625] LOG:  checkpoint complete: wrote 41 buffers (0.3%); 0 WAL file(s) added, 0 removed, 0 recycled; write=3.880 s, sync=0.026 s, total=3.969 s; sync files=33, longest=0.009 s, average=0.001 s; distance=124 kB, estimate=124 kB; lsn=0/19BB768, redo lsn=0/19BB710

full.1                  [    <=>             ] 332.48M  23.9MB/s    in 14s

2025-01-06 15:59:53 (24.2 MB/s) - ‘/home/mcn26/palmer_scratch/full.1’ saved [348630821]

Note that file was downloaded 2024-01-06, and is "gwas_catalog_v1.0-associations_e113_r2024-12-19.tsv"

In [50]:
!head -n2 ~/palmer_scratch/full

DATE ADDED TO CATALOG	PUBMEDID	FIRST AUTHOR	DATE	JOURNAL	LINK	STUDY	DISEASE/TRAIT	INITIAL SAMPLE SIZE	REPLICATION SAMPLE SIZE	REGION	CHR_ID	CHR_POS	REPORTED GENE(S)	MAPPED_GENE	UPSTREAM_GENE_ID	DOWNSTREAM_GENE_ID	SNP_GENE_IDS	UPSTREAM_GENE_DISTANCE	DOWNSTREAM_GENE_DISTANCE	STRONGEST SNP-RISK ALLELE	SNPS	MERGED	SNP_ID_CURRENT	CONTEXT	INTERGENIC	RISK ALLELE FREQUENCY	P-VALUE	PVALUE_MLOG	P-VALUE (TEXT)	OR or BETA	95% CI (TEXT)	PLATFORM [SNPS PASSING QC]	CNV
2015-12-18	25574825	Baurecht H	2015-01-08	Am J Hum Genet	www.ncbi.nlm.nih.gov/pubmed/25574825	Genome-wide comparative analysis of atopic dermatitis and psoriasis gives insight into opposing genetic mechanisms.	Inflammatory skin disease	2,079 European ancestry atopic dermatitis cases, 4,212 European ancestry psoriasis cases, 11,899 European ancestry controls	NA	1q21.3	1	152784619	LCE1E	LCE1F - LCE1E	ENSG00000240386	ENSG00000186226		7595	1595	rs77199844-?	rs77199844	0	77199844	intergenic_variant	1	NR	2E-17	16.69897000433602	(Atopic dermatitis)	1.23	[1.15–1.32]	Affymetrix, Illumina [~ 5200000]	N

Define table schema.

In [15]:
%%sql
DROP TABLE gwas_cata;

CREATE TABLE gwas_cata (
    date_added TEXT,
    pubmed_id INT,
    first_author TEXT,
    date TEXT,
    journal TEXT,
    link TEXT,
    study TEXT,
    disease_or_trait TEXT,
    initial_sample_size TEXT,
    replication_sample_size TEXT,
    chromosome_region TEXT,
    chromosome_id TEXT,
    chromosome_pos TEXT,
    reported_genes TEXT,
    mapped_gene TEXT,
    upstream_gene_id TEXT,
    downstream_gene_id TEXT,
    snp_gene_ids TEXT,
    upstream_gene_distance INT,
    downstream_gene_distance INT,
    strongest_snp_risk_allele TEXT,
    snps TEXT,
    merged BOOL,
    snp_id_current TEXT,
    context TEXT,
    intergenic BOOL,
    risk_allele_frequency TEXT,
    p_value TEXT, --too small, don't want to take up a bunch of memory with "numeric"
    p_value_mlog FLOAT,
    p_value_text TEXT,
    odds_ratio_or_beta FLOAT,
    perc_95_CI TEXT,
    platform_snps_passing_qc TEXT,
    cnv TEXT
);

 * postgresql://mr_root:***@localhost:5433/scratch
Done.
Done.

[]

In [16]:
%%sql
COPY gwas_cata
FROM '/home/mcn26/palmer_scratch/full'
DELIMITER E'\t'
NULL AS ''
HEADER;

 * postgresql://mr_root:***@localhost:5433/scratch
692444 rows affected.

[]

In [19]:
#stop the sql db
!pg_ctl -D ~/palmer_scratch/db stop

waiting for server to shut down.... done
server stopped